*                           @chenrui333


# BACKEND
/pom.xml                    @chenrui333

/kafka-ui-contract/         @chenrui333

/kafka-ui-api/              @chenrui333

# FRONTEND
/kafka-ui-react-app/        @chenrui333

# TESTS
/kafka-ui-e2e-checks/       @chenrui333

# INFRA
/.github/workflows/         @chenrui333
